// Color Variables
// $primary-color: #E8505B;
// $secondary-color: #9AC4F8;
// $text-color: #666666;
// $text-color-dark: #17252A;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $black: #000;
// $white: #fff;
// $light: #F8F8F8;

// color from Typora Vue theme
$primary-color: #42b983;
$secondary-color: #e96900;
$text-color: #34495e;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// #EBFFEB;

$code-color:#e96900;
$code-background-color: #f8f8f8;

// Font Variables

// font-family: 'EB Garamond', 'Noto Serif SC', serif;
$primary-font: 'EB Garamond', 'Noto Serif SC', serif;
// $primary-font: 'Muli', sans-serif;
$icon-font: 'themify';