{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand"href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
      <!-- <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button> -->

      <div class="search">
        <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
        <div class="search-wrapper">
          <form action="{{ `search` | absURL }}" class="h-100">
            <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="输入并搜索 Type & Hit Enter...">
          </form>
          <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
        </div>
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}